# e3-parent项目，忽略掉的内容
/e3-parent/.settings
/e3-parent/.classpath


# e3-common项目，忽略掉的内容
/e3-common/target/
/e3-common/.settings
/e3-common/.classpath


# e3-manager项目，忽略掉的内容
/e3-manager/.settings

# e3-manager/e3-manager-pojo子模块，忽略掉的内容
/e3-manager/e3-manager-pojo/target/
/e3-manager/e3-manager-pojo/.settings
/e3-manager/e3-manager-pojo/.classpath


# e3-manager/e3-manager-dao子模块，忽略掉的内容
/e3-manager/e3-manager-dao/target/
/e3-manager/e3-manager-dao/.settings
/e3-manager/e3-manager-dao/.classpath


# e3-manager/e3-manager-interface子模块，忽略掉的内容
/e3-manager/e3-manager-interface/target/
/e3-manager/e3-manager-interface/.settings
/e3-manager/e3-manager-interface/.classpath


# e3-manager/e3-manager-service子模块，忽略掉的内容
/e3-manager/e3-manager-service/target/
/e3-manager/e3-manager-service/.settings
/e3-manager/e3-manager-service/.classpath

# e3-manager/e3-manager-web子模块，忽略掉的内容
/e3-manager/e3-manager-web/target/
/e3-manager/e3-manager-web/.settings
/e3-manager/e3-manager-web/.classpath

